In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [14]:
df = pd.read_csv('Data/covid.csv')

In [15]:
df.shape

(69090, 8)

In [16]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69090 entries, 0 to 69089
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date_reported       69090 non-null  object
 1    Country_code       68796 non-null  object
 2    Country            69090 non-null  object
 3    WHO_region         69090 non-null  object
 4    New_cases          69090 non-null  int64
 5    Cumulative_cases   69090 non-null  int64
 6    New_deaths         69090 non-null  int64
 7    Cumulative_deaths  69090 non-null  int64
dtypes: int64(4), object(4)
memory usage: 4.2+ MB

In [21]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [19]:
df.columns = df.columns.str.strip()

In [20]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [23]:
df.columns.to_list()

['Date_reported',
 'Country_code',
 'Country',
 'WHO_region',
 'New_cases',
 'Cumulative_cases',
 'New_deaths',
 'Cumulative_deaths']

In [24]:
print(df.columns.to_list())

['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases', 'Cumulative_cases', 'New_deaths', 'Cumulative_deaths']

In [26]:
df.columns = ['Date', 'Code', 'Country', 'WHo', 'Ncases', 'Cumcases', 'Ndeaths', 'Cumdeaths']

In [27]:
df.head(8)

         Date Code      Country   WHo  Ncases  Cumcases  Ndeaths  Cumdeaths
0  2020-01-03   AF  Afghanistan  EMRO       0         0        0          0
1  2020-01-04   AF  Afghanistan  EMRO       0         0        0          0
2  2020-01-05   AF  Afghanistan  EMRO       0         0        0          0
3  2020-01-06   AF  Afghanistan  EMRO       0         0        0          0
4  2020-01-07   AF  Afghanistan  EMRO       0         0        0          0
5  2020-01-08   AF  Afghanistan  EMRO       0         0        0          0
6  2020-01-09   AF  Afghanistan  EMRO       0         0        0          0
7  2020-01-10   AF  Afghanistan  EMRO       0         0        0          0

In [28]:
pd.unique(df.Country)

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Côte d’Ivoire',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [29]:
df.index

RangeIndex(start=0, stop=69090, step=1)

In [30]:
df.loc[3:6,'Code':'WHo']

  Code      Country   WHo
3   AF  Afghanistan  EMRO
4   AF  Afghanistan  EMRO
5   AF  Afghanistan  EMRO
6   AF  Afghanistan  EMRO

In [31]:
df.loc[3:16:4,'Code':'WHo']

   Code      Country   WHo
3    AF  Afghanistan  EMRO
7    AF  Afghanistan  EMRO
11   AF  Afghanistan  EMRO
15   AF  Afghanistan  EMRO

In [32]:
df.iloc[3:16:4, 1:4]

   Code      Country   WHo
3    AF  Afghanistan  EMRO
7    AF  Afghanistan  EMRO
11   AF  Afghanistan  EMRO
15   AF  Afghanistan  EMRO

In [33]:
df['Code']

0        AF
1        AF
2        AF
3        AF
4        AF
         ..
69085    ZW
69086    ZW
69087    ZW
69088    ZW
69089    ZW
Name: Code, Length: 69090, dtype: object

In [36]:
l = df.loc[:,'Country'].to_list()
l = [x.strip() for x in l]

In [39]:
import re

In [40]:
df.shape

(69090, 8)

In [41]:
l = [re.sub(r'\s',' ',el) for el in l]

In [42]:
df.loc[:,'Country'] = l

In [43]:
df.head()

         Date Code      Country   WHo  Ncases  Cumcases  Ndeaths  Cumdeaths
0  2020-01-03   AF  Afghanistan  EMRO       0         0        0          0
1  2020-01-04   AF  Afghanistan  EMRO       0         0        0          0
2  2020-01-05   AF  Afghanistan  EMRO       0         0        0          0
3  2020-01-06   AF  Afghanistan  EMRO       0         0        0          0
4  2020-01-07   AF  Afghanistan  EMRO       0         0        0          0

In [44]:
df1 = df[df.Date=='2020-10-22']

In [46]:
df1.shape

(235, 8)

In [47]:
df1.head(15)

,Date,Code,Country,WHo,Ncases,Cumcases,Ndeaths,Cumdeaths
293,2020-10-22,AF,Afghanistan,EMRO,135,40510,2,1501
587,2020-10-22,AL,Albania,EURO,297,17948,4,462
881,2020-10-22,DZ,Algeria,AFRO,252,55091,7,1880
1175,2020-10-22,AS,American Samoa,WPRO,0,0,0,0
1469,2020-10-22,AD,Andorra,EURO,188,3811,1,63
1763,2020-10-22,AO,Angola,AFRO,289,8338,4,255
2057,2020-10-22,AI,Anguilla,AMRO,0,3,0,0
2351,2020-10-22,AG,Antigua and Barbuda,AMRO,3,122,0,3
2645,2020-10-22,AR,Argentina,AMRO,18735,1021397,459,27175
2939,2020-10-22,AM,Armenia,EURO,2306,70836,10,1131
3233,2020-10-22,AW,Aruba,AMRO,21,4355,0,34
3527,2020-10-22,AU,Australia,WPRO,14,27444,0,905
3821,2020-10-22,AT,Austria,EURO,2355,70769,13,940
4115,2020-10-22,AZ,Azerbaijan,EURO,714,46593,7,642
4409,2020-10-22,BS,Bahamas,AMRO,128,6051,3,127

In [49]:
df1.sort_values?

In [50]:
df1.sort_values(['Cumdeaths'],ascending=False)

,Date,Code,Country,WHo,Ncases,Cumcases,Ndeaths,Cumdeaths
66149,2020-10-22,US,United States of America,AMRO,60155,8184788,856,219497
8525,2020-10-22,BR,Brazil,AMRO,23227,5273954,661,154837
28517,2020-10-22,IN,India,SEARO,55839,7706946,702,116616
39689,2020-10-22,MX,Mexico,AMRO,5788,860714,555,86893
61739,2020-10-22,GB,The United Kingdom,EURO,26687,789233,191,44158
...,...,...,...,...,...,...,...,...
56153,2020-10-22,SC,Seychelles,AFRO,1,149,0,0
57917,2020-10-22,SB,Solomon Islands,WPRO,0,3,0,0
38219,2020-10-22,MH,Marshall Islands,WPRO,0,0,0,0
7055,2020-10-22,BT,Bhutan,SEARO,1,332,0,0
39983,2020-10-22,FM,Micronesia (Federated States of),WPRO,0,0,0,0

In [53]:
df1[df1.Country == 'Poland']

             Date Code Country   WHo  Ncases  Cumcases  Ndeaths  Cumdeaths
49391  2020-10-22   PL  Poland  EURO   10040    202579      130       3851